body {
    padding-top: 90px;
}

#url {
    color: red;
    font-weight: bold;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

    .panel-login > .panel-heading {
        color: #00415d;
        background-color: #fff;
        border-color: #fff;
        text-align: center;
    }

        .panel-login > .panel-heading a {
            text-decoration: none;
            color: #666;
            font-weight: bold;
            font-size: 15px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
        }

            .panel-login > .panel-heading a.active {
                font-size: 18px;
            }

                .panel-login > .panel-heading a.active#login-form-link {
                    color: #59B2E0;
                }

                .panel-login > .panel-heading a.active#register-form-link {
                    color: #1CB94E;
                }

                .panel-login > .panel-heading a.active#resetPassword-form-link {
                    color: #F48042;
                }

    .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
        height: 45px;
        font-size: 16px;
    }

.btn-login {
    background-color: #59B2E0;
    color: #fff;
    height: auto;
    padding: 14px 0;
    /*text-transform: uppercase;*/
}

    .btn-login:hover,
    .btn-login:focus {
        color: #fff;
        background-color: #53A3CD;
    }

.btn-register {
    background-color: #1CB94E;
    color: #fff;
    height: auto;
    padding: 14px 0;
    /*text-transform: uppercase;*/
}

    .btn-register:hover,
    .btn-register:focus {
        color: #fff;
        background-color: #1CA347;
    }

.btn-resetPassword {
    background-color: #F48042;
    color: #fff;
    height: auto;
    padding: 14px 0;
    /*text-transform: uppercase;*/
}

    .btn-resetPassword:hover,
    .btn-resetPassword:focus {
        color: #fff;
        background-color: #db5b18;
    }

#btn-logout {
    width: 100px
}

#btn-logoutAll {
    width: 100px
}
